 body {
    text-align:  center;    
    background-color: deepskyblue;
}   

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ff1d58;
   padding: 5px;
}

.heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;    
    color: green !important;  
    background-color: wheat;
    padding: 10px;
}

h1 {
    color: red;
    display: inline-block;    
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 300 !important;
    text-align: center;    
}

button {
    width: 100px;
    height: 35px;
    margin: 6px;
    color: crimson;  
    font-size: 20px;       
}

button:hover {
    cursor: pointer;
} 

.box {
    border: 5px solid red;    
    border-radius: 58px;
    background-color:  gold;
    margin-bottom: 5px;
}

#laps {
    border: 0px;
    background-color: #3a3a3a;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 25px;
    font-size: 24px;
}